<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Metrilo_Analytics>
            <version>1.3.3</version>
        </Metrilo_Analytics>
    </modules>
    <frontend>
    	<layout>
            <updates>
                <metrilo_analytics>
                    <file>metrilo_analytics.xml</file>
                </metrilo_analytics>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <add_to_cart>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_AddToCartObserver</class>
                        <method>addToCart</method>
                    </add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <remove_from_cart>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_RemoveFromCartObserver</class>
                        <method>removeFromCart</method>
                    </remove_from_cart>
                </observers>
            </sales_quote_remove_item>
            <sales_order_place_after>
                <observers>
                    <place_order>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_OrderObserver</class>
                        <method>trackNewOrder</method>
                    </place_order>
                </observers>
            </sales_order_place_after>
            <customer_login>
                <observers>
                    <metrilo_identify_customer_login>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_IdentifyCustomerObserver</class>
                        <method>identifyCustomer</method>
                    </metrilo_identify_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <global>
        <events>
            <customer_save_after>
                <observers>
                    <metrilo_event_customer_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_CustomerObserver</class>
                        <method>customerUpdate</method>
                    </metrilo_event_customer_update>
                    <metrilo_identify_customer_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_IdentifyCustomerObserver</class>
                        <method>identifyCustomer</method>
                    </metrilo_identify_customer_update>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <metrilo_event_subscriber_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_CustomerObserver</class>
                        <method>customerUpdate</method>
                    </metrilo_event_subscriber_update>
                </observers>
            </newsletter_subscriber_save_after>
            <sales_order_save_after>
                <observers>
                    <metrilo_event_order>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_OrderObserver</class>
                        <method>orderUpdate</method>
                    </metrilo_event_order>
                    <metrilo_identify_customer_order>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_IdentifyCustomerObserver</class>
                        <method>identifyCustomer</method>
                    </metrilo_identify_customer_order>
                    <metrilo_event_customer_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_CustomerObserver</class>
                        <method>customerUpdate</method>
                    </metrilo_event_customer_update>
                </observers>
            </sales_order_save_after>
            <admin_system_config_changed_section_metrilo_analytics_settings>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_ConfigObserver</class>
                        <method>saveConfig</method>
                    </modulename>
                </observers>
            </admin_system_config_changed_section_metrilo_analytics_settings>
        </events>
        <models>
            <metrilo_analytics>
                <class>Metrilo_Analytics_Model</class>
            </metrilo_analytics>
        </models>
    	<blocks>
            <metrilo_analytics>
                <class>Metrilo_Analytics_Block</class>
            </metrilo_analytics>
        </blocks>
        <helpers>
            <metrilo_analytics>
                <class>Metrilo_Analytics_Helper</class>
            </metrilo_analytics>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <custom_module after="Mage_Adminhtml">Metrilo_Analytics_Adminhtml</custom_module>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <metrilo_analytics>
                    <file>metrilo_analytics.xml</file>
                </metrilo_analytics>
            </updates>
        </layout>
        <events>
            <catalog_category_save_after>
                <observers>
                    <metrilo_event_category_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_CategoryObserver</class>
                        <method>categoryUpdate</method>
                    </metrilo_event_category_update>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <metrilo_event_category_update>
                        <type>singleton</type>
                        <class>Metrilo_Analytics_Model_ProductObserver</class>
                        <method>productUpdate</method>
                    </metrilo_event_category_update>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <metrilo_analytics_settings>
            <settings>
                <enable>0</enable>
            </settings>
        </metrilo_analytics_settings>
    </default>
</config>
